<div class="footer-container fill-div fixed-image" style="background-image: url(assets/images/rbg_kegs.jpg);">
<div class="row footer">

  <div class="col-xs-12 footer-overlay">
    
    <div class="footer-text wow fadeInUp">
      <i class="fa fa-asterisk fa-2x" aria-hidden="true"></i>
      <br>
      <br>
      Call us at (919) 324-3415 to place reservations for Mondays through Thursdays. Due to the high volume
      of customers on the weekends, we are unable to accept reservations on Fridays after 3PM.
      We are not currently taking reservations on Saturdays or Sundays at all.
      Thank you for understanding.
      <br>
      <br>
      We offer various seating options including the "seat yourself/order at the bar" outdoor seating in the back garden.  
      We look forward to seeing you all at the Raleigh Beer Garden!
    </div>
    
  </div>
    
</div>

<div class="row footer-divider">
  </div>
  
  <div class="contacts-bar row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" id="logo-holder">
      <h1 class="">Follow Us</h1>
      <img src="../assets/images/facebook-logo.png" class="" data-wow-delay="0.25s"/>
      <img src="../assets/images/twitter-logo.png" class="" data-wow-delay="0.5s"/>
      <img src="../assets/images/instagram-logo.png" class="" data-wow-delay="0.75s"/>
      <img src="../assets/images/pinterest-logo.png" class="" data-wow-delay="1s"/>
    </div>
  </div>
  
  <div class="row footer-divider">
  </div>
<div class="row bot">
  614 Glenwood Ave Raleigh, NC 27603
  <br>
  (919) 324-3415
  <br>
  Copyright 2017 © Raleigh Beer Garden
  <br>
  Terms of Service | Privacy
</div>

</div>