<div class="carousel-header wow fadeIn">UPCOMING EVENTS</div>

<div id="main-carousel" class="carousel slide col-xs-12 wow fadeIn" data-ride="carousel" data-wrap="true">
    
    <div class="carousel-inner" role="listbox">

        <div class="item active">

            <!-- Overlay -->
            <div class="carousel-overlay fill-div" style="background-image: url(assets/images/st-patricks-day.jpg); background-position: bottom;">
              
              <div class="fade-overlay"></div>

              <div class="text-overlay col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3 wow fadeInUp">
                <h4>St. Patrick's Day Party!</h4>

                <div class="carousel-event-details hidden-lg">
                  <h3>When: </h3><p>Tuesday, December 15, 2017 - 6:00 pm - 7:00 pm</p>
                  <h3>Where: </h3><p>RBG Event Tent</p>
                </div>
                
                <button type="button" class="carousel-button hidden-xs hidden-sm hidden-md" (click)="scrollToCalendar()">Learn More</button>
              </div>

            </div>
            
        </div>
        <div class="item">
            
          <!-- Overlay -->
          <div class="carousel-overlay fill-div" style="background-image: url(assets/images/growlers_blackandwhite.jpg);">
            
            <div class="fade-overlay fill-div"></div>

            <div class="text-overlay col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3">
              <h4>Limited Edition Growler Unveil!</h4>

              <div class="carousel-event-details hidden-lg">
                <h3>When: </h3><p>Tuesday, December 15, 2017 - 6:00 pm - 7:00 pm</p>
                <h3>Where: </h3><p>RBG Event Tent</p>
              </div>
              
              <button type="button" class="carousel-button hidden-xs hidden-sm hidden-md" (click)="scrollToCalendar()">Learn More</button>
            </div>

          </div>
          
        </div>

        <div class="item">
            
          <!-- Overlay -->
          <div class="carousel-overlay fill-div" style="background-image: url(assets/images/raleigh_skyline_2.jpg);">
            
            <div class="fade-overlay fill-div"></div>

            <div class="text-overlay col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3">
              <h4>REA Food &amp; Beer Festival!</h4>

              <div class="carousel-event-details hidden-lg">
                <h3>When: </h3><p>Tuesday, December 15, 2017 - 6:00 pm - 7:00 pm</p>
                <h3>Where: </h3><p>RBG Event Tent</p>
              </div>
              
              <button type="button" class="carousel-button hidden-xs hidden-sm hidden-md" (click)="scrollToCalendar()">Learn More</button>
            </div>

          </div>
          
        </div>

        <a class="carousel-control left" href="#main-carousel" role="button" data-slide="prev">
          <span class="icon-prev" aria-hidden="true"></span>
        </a>
        <a class="carousel-control right" href="#main-carousel" role="button" data-slide="next">
          <span class="icon-next" aria-hidden="true"></span>
        </a>
        
    </div>
</div>