
<nav-bar></nav-bar>
<div class="row fill-div fixed-image contact-container" style="background-image: url(assets/images/rbg_inside_bar.jpg);">
    
    <div class="contact-section col-xs-12 wow fadeInUp">

      <img class="hidden-xs hidden-sm hidden-md col-lg-4 image-floater-left wow slideInLeft" src="../assets/images/rbg_secondfloor2.jpg" data-scroll-speed="0"/>

      <div class="contact-text wow fadeInUp row" data-wow-delay="0.4s">
        
        <h1>Contact Us</h1>

        <h2>Raleigh Beer Garden</h2>
        <br>
        614 Glenwood Ave
        <br>
        Raleigh, NC 27603
        <br>
        Phone: (919) 324-3415
        <br><br>
        
        <h3>Business Hours</h3>
        <br>
        Monday: 11:00am - 2:00am
        <br>
        Tuesday: 11:00am - 2:00am
        <br>
        Wednesday: 11:00am - 2:00am
        <br>
        Thursday: 11:00am - 2:00am
        <br>
        Friday: 11:00am - 2:00am
        <br>
        Saturday: 11:00am - 2:00am
        <br>
        Sunday: 11:00am - 2:00am
      
      </div>
      
      <img class="hidden-xs hidden-sm hidden-md col-lg-4 image-floater-right wow slideInRight" src="../assets/images/raleigh_skyline_2_smaller.jpg" data-scroll-speed="0" data-wow-delay="0.25s"/>
     

    </div>
</div>

<div class="white-divider"></div>

<app-footer></app-footer>