<nav-bar></nav-bar>
<div
  data-scroll-speed="0"
  class="fill-div col-xs-12 topImg parallax-window"
  data-parallax="scroll"
  data-speed="0.5"
  data-image-src="../../../assets/images/rbg_inside_tree_adjust.jpg"
>
  <div class=" col-xs-12 store-header">Shop</div>
</div>

<div class="row">
  <div
    class="store fill-div col-xs-12 parallax-window"
    data-parallax="scroll"
    data-speed="0"
    data-image-src="../../../assets/images/store-interior-1.png"
  >
    <div class="store-container row">
      <div class="store-container-inner col-xs-12">
        <div class="store-item col-xs-12 wow fadeInUp">
          <div class="store-item-inner col-xs-12">
            <img src="../../../assets/images/rbg_giftCardBanner.png" />
          </div>
        </div>

        <div class="store-item col-xs-12 col-lg-6 wow fadeInUp">
          <div class="store-item-inner col-xs-12">
            <img src="../../../assets/images/rbg_giftBasket.jpg" />
            <div class="store-item-header1">RBG Gift Basket</div>
            <div class="store-item-description">
              The Raleigh Beer Garden Gift Basket includes a $30 Gift Card and
              one of each of the following: <br /><br />Growler Glass, Insulated
              Growler Bag, Logoed Acrylic Stein, T-shirt, Sticker, Keychain
            </div>
            <div class="store-item-price">$80.00</div>
            <div class="add-to-cart-button">Add to Cart</div>
          </div>
        </div>

        <div class="store-item col-xs-12 col-lg-6 wow fadeInUp">
          <div class="store-item-inner col-xs-12">
            <img src="../../../assets/images/rbg_growler.jpg" />
            <div class="store-item-header1">Insulated Growler Tote Bag</div>
            <div class="store-item-description">
              Make sure your next growler purchase stays cold with this great
              high grade, insulated growler tote bag.
            </div>
            <div class="store-item-price">$20.00</div>
            <div class="add-to-cart-button">Add to Cart</div>
          </div>
        </div>

        <div class="store-item col-xs-12 col-lg-8 wow fadeInUp">
          <div class="store-item-inner col-xs-12">
            <img src="../../../assets/images/rbg_tshirt.gif" />
            <div class="store-item-header1">RBG T-Shirts</div>
            <div class="store-item-description">
              Raleigh Beer Garden T-Shirts come in a soft cotton T that fits
              great and feels great. Sizes include: S, M, L, XL, XXL
            </div>
            <div class="store-item-price">$15.00</div>

            <div class="dropdown">
              <select class="size-select">
                <option value="">Choose Size</option>
                <option value="xs">XS</option>
                <option value="sm">S</option>
                <option value="md">M</option>
                <option value="lg">L</option>
                <option value="xl">XL</option>
                <option value="2xl">2XL</option>
              </select>
            </div>

            <div class="add-to-cart-button">Add to Cart</div>
          </div>
        </div>

        <div class="store-item col-xs-12 col-md-6 col-lg-4 wow fadeInUp">
          <div class="store-item-inner col-xs-12">
            <img src="../../../assets/images/rbg_logoStein.jpg" />
            <div class="store-item-header1">Logoed Glass Stein</div>
            <div class="store-item-description">
              The authentic 1 liter glass stein with the Raleigh Beer Garden
              logo.
            </div>
            <div class="store-item-price">$10.00</div>
            <div class="add-to-cart-button">Add to Cart</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
