<div
  class="row fill-div parallax-window"
  data-parallax="scroll"
  data-speed="0"
  data-image-src="../../../assets/images/bar_taps.jpg"
  id="sale-section"
>
  <div class="col-xs-12 sale-header">{{ eventTitle }}</div>
  <div
    class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3 video-box"
  >
    <div class="videoWrapper">
      <iframe
        class="video-ad col-xs-12"
        src="https://www.youtube.com/embed/Y2wSMrG-Sns?rel=0&amp;showinfo=0"
        frameborder="0"
      ></iframe>
    </div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 sale-body-header">
    <h2>VELIT CELIM IPSUT</h2>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3 sale-body">
    <p>
      Lorem ipsum dolor sit aea commodo consequat. Dptate velit esse cillum
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
