<nav-bar></nav-bar>

<div class="row">

  <div class="col-xs-12 fill-div fixed-image about-bg" style="background-image: url(assets/images/raleigh_skyline.jpg);">

    <img class="col-xs-10 col-sm-6 col-lg-6 floating-image-left wow slideInLeft" src="../assets/images/beer_garden_sign.jpg" data-scroll-speed="4" />

    <div class="top-logo col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-6 wow fadeIn" data-wow-delay="0.75s" data-scroll-speed="-2">
      <img src="../assets/images/RBG_logo_large_white.png"/>
    </div>

  </div>

  <div class="col-xs-12 about-text">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h2>About Us...</h2>
      <p>Welcome to the <span style="color: green; font-weight: 900;">Raleigh Beer Garden</span> where we present to you the current world record holder for the world's largest selection of draft beer! We also offer a full menu of sandwiches, pizzas, salads and much more.
        <br>

        <img src="../assets/images/rbg_outside_day.jpg"/>

        <br>
        The Raleigh Beer Garden is pleased to offer a variety of seating options including our full service indoor and front porch seating as well as a "seat yourself/order at the bar" style outdoor setting in the back garden as well as the rooftop patio.</p>

        <img src="../assets/images/rbg_rooftop.png"/>

        <br>
        We also have Growlers available, so you can get your favorite draft beers to go! Come enjoy the show out back in our events area, toss a game of cornhole or play some ping pong with your friends.
        <br>

        <img src="../assets/images/rbg_secondfloor.jpg"/>

        <br>        
        We look forward to seeing everyone come down and experience the Raleigh Beer Garden in Glenwood South.

        <h2 style="padding-top: 3vh; color: green;">Cheers!</h2>
    
      </div>
  </div>

  <div class="col-xs-12 press-text">
    <div class="col-xs-12 col-xs-offset-0 col-md-6 col-md-offset-3">
      <h2>Press:</h2>
      <p>
          <span style="font-weight: 400; font-style: italic;">"Where would you imagine you’d find the world’s biggest beer garden? Munich, perhaps? Or maybe Portland, Oregon, the country’s hub for craft breweries? Not even close. The easternmost point in North Carolina’s Research Triangle took the beer world by surprise when it unveiled the Raleigh Beer Garden this summer."</span>  --Travel+Leisure <br> <a href="http://www.travelandleisure.com/articles/raleigh-beer-garden-largest-oktoberfest">http://www.travelandleisure.com/articles/raleigh-beer-garden-largest-oktoberfest</a>
          <br>
          <br>
          <span style="font-weight: 400; font-style: italic;">"The magnitude of its beer selection doesn't register until you reach the long bar in the back and see 144 taps arrayed on four rows. Head upstairs, where 222 taps similarly dispense beers from other states and nations."</span> --Chicago Tribune <br> <a href="http://www.chicagotribune.com/lifestyles/travel/sc-raleigh-beer-garden-record-taps-travel-1018-20161010-story.html">http://www.chicagotribune.com/lifestyles/travel/sc-raleigh-beer-garden-record-taps-travel-1018-20161010-story.html</a>
          <br>
          <br>
          <span style="font-weight: 400; font-style: italic;">"After a longtime law keeping all beer made or sold in the state under six percent ABV was repealed in 2005, North Carolina turned into a veritable beer paradise. Niall Hanley set a Guinness World Record when he opened this three-story beer garden in downtown Raleigh. "</span> --Vogue <br> <a href="http://www.vogue.com/13473328/raleigh-north-carolina-guide-hopscotch-music-festival/">http://www.vogue.com/13473328/raleigh-north-carolina-guide-hopscotch-music-festival/</a>
          <br>
          <br>
          <span style="font-weight: 400; font-style: italic;">"Craft beer is exploding and there's no better place to to sample it..."</span> --Conde Nast Traveler <br>          <a href="http://www.cntraveler.com/stories/2015-07-23/the-worlds-biggest-beer-garden-opens-in-raleigh">http://www.cntraveler.com/stories/2015-07-23/the-worlds-biggest-beer-garden-opens-in-raleigh</a>
          <br>
          <br>
          <span style="font-weight: 400; font-style: italic;">"In short, it sounds like a pretty awesome place..."</span> --Forbes  <br> <a href="www.forbes.com/sites/larryolmsted/2015/07/22/move-over-munich-world-record-beer-garden-opens-in-usa/#1ef3f2c2229b">www.forbes.com/sites/larryolmsted/2015/07/22/move-over-munich-world-record-beer-garden-opens-in-usa/#1ef3f2c2229b</a>
          <br>
          <br>
      </p>
    </div>
  </div>

  <div class="col-xs-12 franchising-text">
    <div class="col-xs-12 col-xs-offset-0 col-md-6 col-md-offset-3">
      <h2>Franchising</h2>
      <p>
          The Raleigh Beer Garden has been enjoying it's successes as the premier craft beer destination for people from all over the world coming to Raleigh, NC. Interested in joining us in bringing this experience to your city? Contact us for more information on franchise opportunities:
          <br><br>
          
          <a style="color: rgb(255, 207, 77);">Franchise Inquiry Email</a>

          <br><br>
          _________________________________________
          <br><br>
          
          <span style="font-size: 18px; font-weight: 400; font-style: italic;">This information is not intended as an offer to sell (or the solicitation of an offer to buy) a franchise. It is for information purposes only. Currently, the following states regulate the offer and sale of franchises: CA, HI, IL, IN, MD, MI, MN, NY, ND, OR, RI, SD, VA, WA, and WI. If you are a resident of or wish to acquire a franchise for a Raleigh Beer Garden Restaurant to be located in one of these states, we will not offer you a franchise unless and until we have complied with applicable pre-sale registration and disclosure requirements in your state.</span>
      </p>
    
      </div>
  </div>

</div>

<app-footer></app-footer>