<section>

  <article>
    <div>
      <ul>
        <li><img src="assets/images/carousel-images/bar1.jpg" /></li>
        <li><img src="assets/images/carousel-images/pretzel1.jpg" /></li>
        <li><img src="assets/images/carousel-images/salmon1.jpg" /></li>
        <li><img src="assets/images/carousel-images/view1.jpg" /></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><img src="assets/images/carousel-images/bar2.jpg" /></li>
        <li><img src="assets/images/carousel-images/outside1.jpg" /></li>
        <li><img src="assets/images/carousel-images/fries1.jpg" /></li>
        <li><img src="assets/images/carousel-images/sign1.jpg" /></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><img src="assets/images/carousel-images/bar1.jpg" /></li>
        <li><img src="assets/images/carousel-images/pretzel1.jpg" /></li>
        <li><img src="assets/images/carousel-images/salmon1.jpg" /></li>
        <li><img src="assets/images/carousel-images/view1.jpg" /></li>
      </ul>
    </div>
  </article>

  <article class="rev">
    <div>
      <ul>
        <li><img src="assets/images/carousel-images/bar3.jpg" /></li>
        <li><img src="assets/images/carousel-images/outside2.jpg" /></li>
        <li><img src="assets/images/carousel-images/wings1.jpg" /></li>
        <li><img src="assets/images/carousel-images/man1.jpg" /></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><img src="assets/images/carousel-images/bar4.jpg" /></li>
        <li><img src="assets/images/carousel-images/app1.jpg" /></li>
        <li><img src="assets/images/carousel-images/outside3.jpg" /></li>
        <li><img src="assets/images/carousel-images/kegs1.jpg" /></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><img src="assets/images/carousel-images/bar3.jpg" /></li>
        <li><img src="assets/images/carousel-images/outside2.jpg" /></li>
        <li><img src="assets/images/carousel-images/wings1.jpg" /></li>
        <li><img src="assets/images/carousel-images/man1.jpg" /></li>
      </ul>
    </div>
  </article>

  <article>
    <div>
      <ul>
        <li><img src="assets/images/carousel-images/pizza1.jpg" /></li>
        <li><img src="assets/images/carousel-images/outside2.jpg" /></li>
        <li><img src="assets/images/carousel-images/inside1.jpg" /></li>
        <li><img src="assets/images/carousel-images/bar2.jpg" /></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><img src="assets/images/carousel-images/bar1.jpg" /></li>
        <li><img src="assets/images/carousel-images/salmon1.jpg" /></li>
        <li><img src="assets/images/carousel-images/burger1.jpg" /></li>
        <li><img src="assets/images/carousel-images/bar3.jpg" /></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><img src="assets/images/carousel-images/pizza1.jpg" /></li>
        <li><img src="assets/images/carousel-images/outside2.jpg" /></li>
        <li><img src="assets/images/carousel-images/inside1.jpg" /></li>
        <li><img src="assets/images/carousel-images/bar2.jpg" /></li>
      </ul>
    </div>
  </article>

</section>